@import url("https://fonts.cdnfonts.com/css/fredoka");
@import url("https://fonts.cdnfonts.com/css/super-onigiri");

@layer components {
    .hora {
        @apply max-md:py-4 py-8 text-lg  font-fredoka font-extrabold bg-gradient-to-r from-lime-500 to-green-700 rounded-md;
    }

    .dia {
        @apply p-4 min-w-32 w-full text-sm font-onigiri bg-green-500 rounded-md;
    }

    .celda {
        @apply text-white w-full h-full bg-gray-300 rounded-md transition-all hover:bg-gray-400;
    }

    .hoy {
        @apply transition-all hover:scale-105 md:w-[30%] lg:h-[15em] lg:w-[30%];
    }

    .DiaSemana {
        @apply h-full grid grid-cols-1 gap-1;
    }
}

body {
    background-image: url(./Resources/Fondo.png);
}

tr {
    background: #8884;
    border-radius: 0.5rem;
    display: inline-flex;
    flex-direction: column;
    flex-grow: 1;
    height: 9em;
    overflow: hidden;
    padding: 0.7em;
    position: relative;
    width: calc(40% - 1rem);
}

tr > td:nth-child(1) {
    font-family: "Super Onigiri", "serif";
    font-weight: 00;
}

tbody > tr {
    background-image: linear-gradient(45deg, #000, #0000), var(--img);
    background-position: 50%;
    background-size: cover;
    box-shadow: 0px 8px 16px -8px #000a;
    color: #fff;
}

.SELECTED {
    display: flex;
    place-items: center;
    justify-content: center;
    position: relative;
    box-shadow: inset 0px 0px 200px rgba(0, 0, 0, 0.7);
    transition: all 0.2s linear;
    animation: parpadear 3s infinite;
}

.SELECTED:hover {
    transform: scale(1.1);
    overflow: hidden;
}

.imgSuper {
    position: absolute;
    z-index: 1;
    width: 50%;
    height: auto;
    animation: girar 5s infinite;
}

.Asunto {
    position: absolute;
    z-index: 1;
    margin: auto;
    font-size: 1.2rem;
    height: auto;
    top: 10%;
    font-family: "Super Onigiri", sans-serif;
}

.Mensaje {
    position: absolute;
    z-index: 1;
    margin: auto;
    height: auto;
    bottom: 10%;
    font-weight: 600;
}

.celda{
    background-position: center;
    overflow: hidden;
}

@keyframes girar {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

@keyframes parpadear {
    0% {
        filter: drop-shadow(0.25rem 0.25rem 0.25rem #1f1f1f);
    }
    50% {
        filter: drop-shadow(0.75rem 0.75rem 2rem #1f1f1f);
    }
    100% {
        filter: drop-shadow(0.25rem 0.25rem 0.25rem #1f1f1f);
    }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
